@font-face {
    font-family: 'JetBrains Mono';
    src: url(assets/fonts/jbm.ttf);
}

* {
	font-family: 'JetBrains Mono', monospace, 'Roboto';
}

input {
    color: white;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    padding-bottom: 0;
}


textarea {
    overflow-y: auto;
    color: white;
    background-color: transparent;
    height: auto;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

textarea:focus, input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.733);
}


body {
    text-align: center;
    font-family: 'JetBrains Mono', Arial, sans-serif;
    overflow: hidden;
}

button {
	background-color:transparent;
    border:1px solid #525252;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'JetBrains Mono', monospace, 'Roboto';
	font-size: 1rem;
	padding:5px 7px;
    text-decoration:none;
}
button:hover {
	background-color:gray;
}
button:active {
	position:relative;
	top:1px;
}
button:focus {
    outline: none;
}


#word-count {
    color: white;
    position: absolute;
    bottom: 0%;
    right: 1%;
    padding: 0;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
}